.home-player-table th,
.home-player-table td {
  width: 20%;
  text-align: center;
}

.edit-player-attribute-figure {
  text-align: center;
  display: block;
  font-size: 20vh;
}
.edit-player-attribute-figure-b {
  text-align: center;
  display: block;
  font-size: 15vh;
  color: #aaa;
}
.red-badge {
  background-color: #f77;
}
/* I guess these are bs4 features? */
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
